.header{
  height: 50px;
  background-color: #2A2D34;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo{
  height: 40px;
  margin-left: 80px;
  margin-top: 7px;
}

.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-right: 80px;
}

.header__rond{
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: white;
}

.header__link{
  margin-top: 5px;
  position: relative;
  color: white;
  font-family: "brandon-grotesque";
  font-size: 14px;
  height: 20px;
  overflow: hidden;

  &::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    background-color: white;
    height: 2px;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 1s;
  }

  &:hover{
    &::after{
      transform: translateX(0);
    }
  }
}